<h6 class="blink text-center" *ngIf="!purchaseOrderDetailShp">
    PLEASE SELECT INVOICE TO DISPLAY INVOICE DETAIL </h6>
<h6 class="blink text-center" *ngIf="error">FAILED TO FETCH DETAIL FOR SELECTED PO. </h6>

<div *ngIf="loader">
    <div class="mx-auto text-center lds-css ng-scope">
        <div class="mx-auto lds-facebook">
            <div></div>
            <div></div>
            <div></div>
        </div>
        Loading ...
    </div>
</div>
<div class="text-justify" *ngIf="disp" class="card">
    <div class="card-content">
        <table class="table table-striped table-hover">
            <thead>
                <th class="i vents-table-th">Item Name</th>
                <th class="i vents-table-th">Activity Name</th>
                <th class="i vents-table-th">Unit</th>
                <th class="i vents-table-th">PO Quantity</th>
                <th class="i vents-table-th">Invoice Quantity</th>
                <th class="i vents-table-th">Batch Number</th>
                <th class="i vents-table-th">Expiry Date</th>
                <!-- <th class="i vents-table-th">Currency</th> -->
            </thead>
            <tbody>
                <tr *ngFor="let i of purchaseOrderDetailShp">
                    <td class="i vents-table-td">{{i.fullItemName}}</td>
                    <td class="i vents-table-td">{{i.fullActivityName}}</td>
                    <td class="i vents-table-td">{{i.unit}}</td>
                    <td class="i vents-table-td">{{i.poQuantity}}</td>
                    <td class="i vents-table-td">{{i.invoicedQuantity}}</td>
                    <td class="i vents-table-td">{{i.batchNumber}}</td>
                    <td class="i vents-table-td">{{i.expiryDate | date: 'mediumDate'}}</td>
                    <!-- <td class="i vents-table-td">{{poDetail.Currency != 'undefined' || poDetail.Currency != undefined? poDetail.Currency: '-'}}</td> -->
                </tr>
            </tbody>
        </table>

    </div>
</div>