

          
            <div>
    
                <div *ngIf="showItemSummary">
                    <div class="bg shadow-sm p-3 mt-1 ml-1 mb-2 bg-white rounded border">
                        <div class="text-left">
                            <h5>Search Item Summary</h5>
                        </div>
                        <div class="row">
                
                
                            <div class="col-5">
                                <div class="row">
                                    <div class="col inline">
                                        <small class="form-text text-muted">Search Key</small>
                                        <div class="input-group mb-2">
                                            <input required class="form-control form-control" [(ngModel)]="searchKey" name="dp2">
                
                                        </div>
                                    </div>
                
                
                
                                    <div class="col-sm-auto">
                                        <small class="form-text text-muted">Account Mode</small>
                                        <select class="form-control" [(ngModel)]="accountCode" name="accountCode">
                                            <option value=""></option>
                                            <option *ngFor="let o of accountMode">{{ o.name }}</option>
                                        </select>
                                    </div>
                
                                </div>
                
                
                            </div>
                            <div class="col-sm-3 mt-4">
                                <button type="button" (click)="getItemSummary()" [disabled]="disabled" class="btn btn-info btn-block">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div>
                    <h3 class="blink text-center my-auto" *ngIf="emptyMessage">No Status Report found for the selected Item
                      </h3>
                    <div *ngIf="loader" class="mx-auto">
                        <div class="lds-css ng-scope">
                            <div class="mx-auto lds-facebook">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showItemSummaryTable" class="form-row bg shadow-sm p-3 ml-1 mb-2 bg-white rounded border">
                      
                
                        <input class="col-sm-11 my-1 form-control text-left pr-2" #itemSummary
                        (input)="searchItemSummary(itemSummary.value)" placeholder="Search">
            
                
                        <div class="col-sm-1 my-1">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a (click)="printReport()">
                                        <img class="rounded" style="width:50px;height:50px;"
                                            src="https://img.icons8.com/dotty/80/000000/print.png">
                                    </a>
                                </div>
                                <div class="col-sm-2 ml-3">
                                    <a (click)="exportToExcel()">
                                        <img class="rounded" style="width:50px;height:50px;"
                                            src="https://img.icons8.com/dotty/80/000000/ms-excel.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showItemSummaryTable" class="container-fluid shadow-sm mb-2 bg-white rounded pt-2 pl-3 border in-left">
                        <div id="printable">
                
                            <table class="table table-fixed table-striped table-hover">
                                <thead class="thead-bg-secondary">
                                    <th class="events-table-th">
                                        <p id="headTable" class="text-black">PO Number</p>
                                    </th>
                                    <th class="events-table-th">
                                        <p id="headTable" class="text-black">Item Name</p>
                                    </th>
                                    <th class="events-table-th">
                                        <p id="headTable" class="text-black">Quantity</p>
                                    </th>
                                    <th class="events-table-th">
                                        <p id="headTable" class="text-black">Manufacturer</p>
                                    </th>
                                    <th class="events-table-th">
                                        <p id="headTable" class="text-black">Supplier</p>
                                    </th>
                
                
                                    <th class="events-table-th">
                                        <p id="headTable" class="text-black">Current Status</p>
                                    </th>
                
                                </thead>
                
                                <tbody>
                                    <tr *ngFor="let i of itemSummary">
                                        <td class="events-table-td">
                                            <small>{{i.PurchaseOrderNumber}}</small>
                                        </td>
                                        <td class="events-table-td">
                                            <small>{{i.FullItemName}}</small>
                                        </td>
                                        <td class="events-table-td">
                                            <small>{{i.Quantity | number}}</small>
                                        </td>
                                        <td class="events-table-td">
                                            <small>{{i.Manufacturer}}</small>
                                        </td>
                                        <td class="events-table-td">
                                            <small>{{i.Supplier}}</small>
                                        </td>
                
                                        <td class="events-table-td">
                                            <small>{{i.CurrentStatus}}</small>
                                        </td>
                
                
                                    </tr>
                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
    
       