<div style=" background-color:#d9d9d9" id="sidebar-main" class="sidebar  shadow-lg card sidebar-default sidebar-separate sidebar-fixed col-sm-2 border-right border-right">
    <!-- overflow:scroll; height:800px;  -->
    <div class="sidebar-content">

        <div class="sidebar-category sidebar-default">
            <div class="category-content">
                <ul id="display-nav" class="nav flex-column">
                    <div class="sidebar-category sidebar-default">
                        <div class="sidebar-user">
                            <div class="category-content">
                                <h6>
                                    <i><img src="https://img.icons8.com/ios/50/000000/graph-report.png"></i> Reports
                                </h6>
                                <small></small>
                            </div>
                        </div>
                    </div>
                    <li class="d–block text–nowrap nav-item">

                        <a style="font-size: 1em" href="#preAgreement" id="preag" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="preAgreement">

                            <h5 class="d–block">Pre Agreement</h5>
                        </a><br>
                        <ul id="preAgreement" class="flex-column collapse">
                            <li class="nav-item">
                                <a style="font-size: 0.9em;text-align: left;" id="poLeadT" class=" nav-link " routerLinkActive="active" routerLink="poleadtime">PO's Lead
                                    Time</a>
                                <br>

                            </li>
                            <li class="nav-item">
                                <a style="font-size: 0.9em;text-align: left;" class=" nav-link " routerLinkActive="active" routerLink="poStatus">PO Status</a><br>

                            </li>
                            <li class="nav-item">
                                <a style="font-size: 0.9em;text-align: left;" class=" nav-link " routerLinkActive="active" routerLink="issueContract">Issue Contract</a><br>

                            </li>
                        </ul>
                    </li>
                    <li class="d–block text–nowrap nav-item">
                        <a style="font-size: 1em" href="#postAgreement" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="postAgreement">
                            <h5>Post Agreement</h5>
                        </a><br>
                        <ul id="postAgreement" class="flex-column collapse">
                            <li class="nav-item">
                                <a style="font-size: 0.9em;text-align: left;" routerLink="performanceBond" routerLinkActive="active" class="nav-link">Performance Bond
                                </a><br>
                            </li>
                            <li class="nav-item ">
                                <a style="font-size: 0.9em;text-align: left;" routerLink="bankAndInsurance" routerLinkActive="active" class="nav-link">Bank and Insurance
                                </a><br>
                            </li>
                        </ul>
                    </li>




                    <li class="d–block text–nowrap nav-item">

                        <a style="font-size: 1em" href="#shipment" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="shipment">

                            <h5 class="d–block">Shipment Report</h5>
                        </a><br>


                        <ul id="shipment" class="flex-column collapse">
                            <li class="nav-item">
                                <a style="font-size: 0.9em;text-align: left;" class=" nav-link " routerLinkActive="active" routerLink="shipmentReport">Status Report</a><br>

                            </li>
                            <li class="nav-item">
                                <a style="font-size: 0.9em;text-align: left;" class=" nav-link " routerLinkActive="active" routerLink="clearedPO">Cleared PO</a><br>

                            </li>

                        </ul>

                    </li>

                    <li class="d–block text–nowrap nav-item">

                        <a style="font-size: 1em" href="#itemSummary" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="itemSummary">

                            <h5 class="d–block">Item Summary</h5>
                        </a><br>


                        <ul id="itemSummary" class="flex-column collapse">
                            <li class="nav-item">
                                <a style="font-size: 0.9em;text-align: left;" class=" nav-link " routerLinkActive="active" routerLink="itemSummary">Item Summary Report</a><br>

                            </li>

                        </ul>


                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>