<div>
    <div class="modal-header" style="background-color:#0C7489; color:white">
        <h5 class="modal-title" id="cadextension">Edit Receiving Performance Bond</h5>
    </div>

    <div class="modal-body">
        <div>
            <div class="mx-auto">
                <small class="form-text text-muted">Letter Number</small>
                <div class="mb-2 form-group">
                    <input type="text" class="form-control form-control-sm" placeholder="{{letterNumber}}"
                           [ngModel]="letterNumber" (ngModelChange)="letterNumber = $event">
                </div>
                <small class="form-text text-muted">Event date</small>

                <div class="input-group mb-2">
                    <input required class="form-control form-control-sm" placeholder="{{lcEventDate}}"
                           [(ngModel)]="lcEventDate" name="dp" ngbDatepicker #fc="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="fc.toggle()"
                                type="button"></button>
                    </div>
                </div>
                <small class="form-text text-muted">Expiry date</small>

                <div class="input-group mb-2">
                    <input required class="form-control form-control-sm" placeholder="{{performanceBondExpiryDate}}"
                           [(ngModel)]="performanceBondExpiryDate"
                           name="dp" ngbDatepicker #fce="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="fce.toggle()"
                                type="button"></button>
                    </div>
                </div>
                <div class="form-group">
                    <small class="form-text text-muted">Bank name</small>
                    <select [(ngModel)]="bankName" [value]="bankName" class="form-control" id="exampleFormControlSelect1">
                        <option disabled [value]="undefined">Select Bank</option>
                        <option *ngFor="let i of bank" [value]="i.name">{{i.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div *ngIf="RPBND">
            <div class="lds-css ng-scope">
                <div class="mx-auto lds-loaderbook">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <button style="background-color:#0C7489; color: white" type="button" class="btn btn-sm"
                (click)="saveEventUnique()">
            <i class="fa fa-2x fa-save" aria-hidden="true"></i>
        </button>
    </div>
</div>